.App {
  text-align: center;
  background: linear-gradient(to left, lightblue, lightpink);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 7px;
  padding: 0;
  animation: AnimationName 10s ease-in-out infinite;
  background-size: 600% 600%;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 12pt;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  border: solid;
  border-color: cornflowerblue;
  width: 260px;
  transition: 0.3s;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 2px 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: larger;
}

@keyframes AnimationName {
  0% {
    background-position: 0% 51%;
  }
  60% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 51%;
  }
}
